# Compiled files
chronodb
*.o

# Build directories
build/

# Generated database files
data/*.db

# Temporary files
*.tmp

# Editor files
.vscode/

# OS files
.DS_Store

#Vim temporary files
*.swp
*.swo

